<article>
  <h2>
    Who's Been Naughty?
  </h2>
  <form class="edit-recipient-form">
    <div>
      <input id="rec-name" name="recipient-name" type="text" value="{{rec.name}}" />
      <input id="rec-relationship" name="recipient-relationship" type="text" value="{{rec.relationship}}" />
    </div>
    <button type="submit">Save</button>
    <button type="button" class="delete-rec-btn">Delete</button>
  </form>

  <h2>
    Or Nice?
  </h2>
  <br>
  <form class="add-gift-form">
    <div>
      <h3>Add a Gift</h3>
      <input id="add-gift" name="add-gift" type="text" value="Gift Name" />
      <input id="add-price" name="add-price" type="text" value="Gift Price" />
      <button type="submit" id="add-gift">Add</button>
    </div>
  </form>
  <br>
  <h3>Edit {{rec.name}}'s Current Gifts</h3>
  <div class="delete-gift">
    {{#each rec.gifts as |gift|}}
    <form class="edit-gift-form">
        <input id="gift-name" name="gift-name" type="text" value="{{gift.gift_name}}" />
        <input id="gift-price" name="gift-price" type="number" value="{{gift.price}}" />
      </div>
      <button type="submit">Save</button>
      <button id="{{gift.id}}" type="button" class="delete-gift-btn">Delete 🗑 </button>
    </form>
    {{/each}}
  </div>
</article>

<script src="/javascript/edit-delete-rec.js"></script>
<script src="/javascript/add-del-edit-gift.js"></script>